#input-container {
    display: block;
}

.chirp-container {
    /*width: 10em;*/
    /*height: 10em;*/
    border: 1px solid black;
    text-align: center;
    margin: 2em;
    display: inline-block;
}

/*.box {
    background-color: yellow;
    height: 5em;
    border: 1px solid black;
}*/