<!-- ines (15 sloc)  577 Bytes
<div ng-controller="postController">
    <form>
        <div>
            <label for="name" ng-style="{'color': 'rgb(150,128,167)'}">Name:</label>
            <input type="text" name="user_name" ng-model="user" required>
        </div>
        <div>
            <label for="msg" ng-style="{'color': 'rgb(150,128,167)'}">Message:</label>
            <textarea name="user_message" ng-model="message" required></textarea>
        </div>
        <div class="button">
            <button type="submit" ng-click="myData()">Send your chirp</button>  
        </div>
    </form>
</div> -->